@model CarritoCompra.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}

<div id="ListaProductosContenedor">
    @Html.Action("ListaProducto", "Cliente")
</div>
